* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

body {
  margin: 0;
  font-family: monospace;
}

/* Style the header */
.header {
  background-image: linear-gradient(#f0f0f0, #ffffff);
  float: none;
  padding: 70px;
  text-align: center;
  font-size: 20px;

}
.header h1 {
  padding-bottom: 0px;
}
.header ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

.header li{
  
  font-family: monospace;
  padding-top: 20px;
  font-size: 20px;
}
.header a{
  text-decoration: none;
  display: block;
  color: black;
  text-align: center;
}
.header a:link{
  color: Black;
  text-decoration: none;
}

.header a:visited{
  color: black;
  text-decoration: none;
}

.header a:active {
  color: Black;
  text-decoration: none;
}


.colonna {
  float: left;
  padding: 50px;
}

.colonna.sinistra {
  width: 25%;
  padding: 70px;
  text-align: center;
}

.colonna.destra {
  width: 50%;
  padding: 70px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.html{
  width: 100%;
  background-color: #ddd;
  border: 0 solid;
  border-radius: 8px;
}
.html1{
  width: 5%;
  border-radius: 8px;
  height: 30px;
  background-color: #0000ff;
  text-align: center;
  line-height: 30px;
  color: white;
}

.css{
  width: 100%;
  background-color: #ddd;
  border: 0 solid;
  border-radius: 8px;
}
.css1{
  width: 5%;
  border-radius: 8px;
  height: 30px;
  background-color: #0000ff;
  text-align: center;
  line-height: 30px;
  color: white;
}

.js{
  width: 100%;
  background-color: #ddd;
  border: 0 solid;
  border-radius: 8px;
}
.js1{
  width: 0%;
  border-radius: 8px;
  height: 30px;
  background-color: #0000ff;
  text-align: center;
  line-height: 30px;
  color: white;
}

.node{
  width: 100%;
  background-color: #ddd;
  border: 0 solid;
  border-radius: 8px;
}
.node1{
  width: 0%;
  border-radius: 8px;
  height: 30px;
  background-color: #0000ff;
  text-align: center;
  line-height: 30px;
  color: white;
}

.php{
  width: 100%;
  background-color: #ddd;
  border: 0 solid;
  border-radius: 8px;
}
.php1{
  width: 0%;
  border-radius: 8px;
  height: 30px;
  background-color: #0000ff;
  text-align: center;
  line-height: 30px;
  color: white;
}

.my{
  width: 100%;
  background-color: #ddd;
  border: 0 solid;
  border-radius: 8px;
}
.my1{
  width: 0%;
  border-radius: 8px;
  height: 30px;
  background-color: #0000ff;
  text-align: center;
  line-height: 30px;
  color: white;
}

.ita{
  width: 100%;
  background-color: #ddd;
  border: 0 solid;
  border-radius: 8px;
}
.ita1{
  width: 100%;
  border-radius: 8px;
  height: 30px;
  background-color: #0000ff;
  text-align: center;
  line-height: 30px;
  color: white;
}

.en{
  width: 100%;
  background-color: #ddd;
  border: 0 solid;
  border-radius: 8px;
}
.en1{
  width: 50%;
  border-radius: 8px;
  height: 30px;
  background-color: #0000ff;
  text-align: center;
  line-height: 30px;
  color: white;
}

.colonna.sinistra h1{
  text-align: center;
}
.yes{
  display: block;
  text-align: center;
}
@media onliy screen and (max-width: 400px) {
  body {
    width: 100%;
  }
}
@media onliy screen and (min-width: 401px) and (max-width: 960px) {
  body {
    width: 100%;
  }
}
@media onliy screen and (min-width: 961px) {
  body {
    width: 100%;
  }
}
.f{
  background-color: #f1f1f1;
  padding: 20px;
  text-align: right;
}
