@media only screen and (max-width: 480px){
    body {
        background-color: green !important;
    }

    html, * {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    
    body {
        --main-font: 'Fira Code', monospace;
        --main-color: #5CDB95;
        --second-color: #ACCBC8;
        --third-color: #EDF5E1;
        --fourth-color: #8FE38D;
        --fifth-color: #193A4C;
        --sixth-color: #4E7874;
        --title-size: 30px;
        font-family: var(--main-font);
        background-color: var(--fifth-color);
        margin: 0;
        padding: 0;
    }
    
    /*------HEADER------*/
    header {
        width: 100%;
        height: 100%;
    }

    header #navbar {
        display: flex;
        flex-direction: column; /**/
        align-items: center; /**/
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background-color: #193A4C;
        z-index: 9;
      }
      
      header #navbar img {
        max-width: 100%;
        width: 50%; /**/
        height: auto; /**/ 
        margin-left: 0px; /**/
        margin-top: 10px; 
        cursor: default;
        pointer-events: none;
      }
      
      
      header #navbar ul li {
        display: inline-block;
        width: 150px; /**/
        height: 50px;
        box-sizing: border-box;
        overflow: hidden;
      }
      
    header #navbar ul li a {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: block;
        top: 20px;
        color: var(--main-color);
        font-size: 18px; /**/
        font-weight: 700; 
        text-decoration: none;
        text-align: center;
        -webkit-transition: all 600ms ease;
        -moz-transition: all 600ms ease;
        -o-transition: all 600ms ease;
        transition: all 600ms ease;
    }
      
    header #navbar li a:hover {
    transform: scale(1.2);
    }
    
    .main-header {
        padding: 45vh 0vh;
    }
    
    .title {
      text-align: center;
      overflow: hidden;
    }
    
    .title #first {
      position: relative;
      right: 9vh; /**/
      font-weight: 500;
      font-size: 16px; /**/
      color: var(--main-color);
    }
    
    .title #second {
      font-weight: 900;
        color: var(--second-color);
        font-size: 35px; /**/
    }
    
    /*  MAIN  */
    main {
        text-align: center;
    }
    
    section > .title-section {
        padding-top: 120px; /**/
        color: var(--second-color);
        font-size: var(--title-size);
    }
    
    /* ABOUT */
    #welcome-section {
        margin: 0 30px 0 30px; /**/
    }
    
    #about-body {
        display: flex;
        flex-direction: column; /**/
        align-items: flex-start;
        margin-top: 40px;
        height: 100vh;
    }
    
    #about-text {
        color: var(--main-color);
        text-align: justify;
        margin-right: 5vh; /**/   
    }
    
    #about-text > p {
        margin-top: 20px;    
    }
    
    #about-img {
        display: inline-block;
        position: relative;
    }
    
    #about-img img {
      max-width: 100%;
      width: 60%; /**/
      cursor: default;
      pointer-events: none;
    }
    
    /* PROJECT */
    #projects {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    .projects-field {
        display: flex;
        flex-direction: column; /**/
        justify-content: flex-start; /**/
        align-items: center; /**/
        align-content: center; /**/
        flex-wrap: nowrap;
        margin: 30px 0px;
        padding: 30px 0px;
        overflow: hidden;
        width: 100%;
        height: 100vh;
      }
      
      .project-tile {
        position: relative;
        width: 80%; /**/
        height: 80vh; /**/
        transform: scale(1);
        overflow: hidden;
        transition: all 1s ease;
      }
      
      .project-tile:hover {
        box-shadow: 0 0 20px rgba(59, 107, 135, 0.653);
        transform: scale(1.1);
        z-index: 7;
        overflow: hidden;
      }
      
      .project-tile img {
        width: 100%;
        height: auto;
        display: block;
        transition: all 1s ease;
        overflow: hidden;
      }
      
      .project-tile:hover img{
        filter: blur(3px);
        overflow: hidden;
      }
      
      
      .project-text {
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        overflow: hidden;
        color: var(--third-color); 
        transition: all 1s ease;
      }
      
      .project-text:hover {
        background-color: rgba(25, 58, 77, 0.6);
        opacity: 1;
        overflow: hidden;

        
      }
      
    .project-text h3 {
        width: 80%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        margin: 0px 5px;
        font-weight: 500;
        font-size: 20px; /**/
        overflow: hidden;
        overflow-wrap: break-word;
        word-break: break-all;
        word-wrap: break-word;
        transition: all 1s ease;
    }
      
    .project-text:hover h3 {
    opacity: 1;
    }
    
    
    /*------contacts------*/
    
    #contacts {
        width: auto;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    
    .mail {
        border: 2px solid #5CDB95;
        padding: 15px;
        margin: 100px;
        background-color: transparent;
        width: 20%;
        transition: all 1s ease;
    }
    
    .mail a {
        text-decoration: none;
        width: 100%;
        overflow: hidden;
        height: auto;
        color: var(--main-color);
        font-size: 18px;
        cursor: pointer;
    }
    
    .mail:hover {
        background-color: #5cdb9523;
        box-shadow: 0px 0px 5px #5CDB95;
        cursor: pointer;
        transform: scale(1.2);
    }
    
    .icons div {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 0px 30px;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .icons div a {
        width: 100%;
        height: 100px;
        position: relative;
        overflow: hidden;
        font-size: 30px;
        inset: 15px 0px;
        padding-top: 5px;
        color: #5CDB95;
        text-decoration: none;
        transition: all 600ms ease;
    }
    
    .icons div a:hover {
        font-size: 40px;
        overflow: hidden;
        transform: scale(1.2);
    }
    
    
    /*------arrow------*/
    .arrow-up {
        position: fixed;
        overflow: hidden;
        display: inline;
        width: 5%;
        height: 70px;
        max-height: 100%;
        background: var(--fifth-color);
        bottom: 10px;
        right: 5px;
    }
    
    .arrow-up img {
        width: 50px;
        border: 1px solid #5CDB95;
        position: relative;
        top: 10px;
        transition: all 600ms ease;
        -webkit-transition: all 600ms ease;
        -moz-transition: all 600ms ease;
        -o-transition: all 600ms ease;
    }
    
    .arrow-up img:hover {
        transform: scale(1.2); /**/
    } 
    
    /*------footer------*/
    
    footer {
        text-align: center;
        margin: 50px 0 30px 0;
        color: var(--main-color);
        font-weight: 500;
        z-index: inherit;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    body {
        background-color: red;
    }

    html, * {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    
    body {
        --main-font: 'Fira Code', monospace;
        --main-color: #5CDB95;
        --second-color: #ACCBC8;
        --third-color: #EDF5E1;
        --fourth-color: #8FE38D;
        --fifth-color: #193A4C;
        --sixth-color: #4E7874;
        --title-size: 30px;
        font-family: var(--main-font);
        background-color: var(--fifth-color);
        margin: 0;
        padding: 0;
    }
    
    /*------HEADER------*/
    header {
        width: 100%;
        height: 100%;
    }
    
    header #navbar {
      display: flex;
      flex-direction: column; /**/
      align-items: center; /**/
      justify-content: space-between;
      position: fixed;
      width: 100%;
      background-color: #193A4C;
      z-index: 9;
    }
    
    header #navbar img {
      max-width: 100%;
      width: 50%; /**/
      height: auto; /**/ 
      margin-left: 0px; /**/
      margin-top: 10px; 
      cursor: default;
      pointer-events: none;
    }
    
    
    header #navbar ul li {
      display: inline-block;
      width: 150px; /**/
      height: 50px;
      box-sizing: border-box;
      overflow: hidden;
    }
    
    header #navbar ul li a {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: block;
      top: 20px;
      color: var(--main-color);
      font-size: 18px; /**/
      font-weight: 700; 
      text-decoration: none;
      text-align: center;
      -webkit-transition: all 600ms ease;
      -moz-transition: all 600ms ease;
      -o-transition: all 600ms ease;
      transition: all 600ms ease;
    }
    
    header #navbar li a:hover {
      transform: scale(1.2);
    }
    
    .main-header {
        padding: 45vh 0vh;
    }
    
    .title {
      text-align: center;
      overflow: hidden;
    }
    
    .title #first {
      position: relative;
      right: 10vh; /**/
      font-weight: 500;
      font-size: 15px; /**/
      color: var(--main-color);
    }
    
    .title #second {
      font-weight: 900;
        color: var(--second-color);
        font-size: 35px; /**/
    }
    
    /*  MAIN  */
    main {
        text-align: center;
    }
    
    section > .title-section {
        padding-top: 150px; /**/
        color: var(--second-color);
        font-size: var(--title-size);
    }
    
    /* ABOUT */
    #welcome-section {
        margin: 0 40px 0 40px; /**/
        overflow: hidden; /**/
    }
    
    #about-body {
        display: flex;
        flex-direction: column; /**/
        align-items: center; /**/
        margin-top: 40px;
        height: 100vh; /**/
    }
    
    #about-text {
        color: var(--main-color);
        text-align: center; /**/
        margin-right: 6vh;  /**/   
        margin-top: 40px; /**/
    }
    
    #about-text > p {
        margin-top: 20px;    /**/
    }
    
    #about-img {
        display: inline-block;
        position: relative;
    }
    
    #about-img img {
      max-width: 100%;
      width: 50%; /**/
      cursor: default;
      pointer-events: none;
    }
    
    /* PROJECT */
    #projects {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    .projects-field {
        display: flex;
        flex-direction: column; /**/
        justify-content: flex-start; /**/
        align-items: center; /**/
        align-content: center; /**/
        flex-wrap: nowrap;
        margin: 30px 0px;
        padding: 30px 0px;
        overflow: hidden;
        width: 100%;
        height: 100vh;
      }
      
      .project-tile {
        position: relative;
        width: 80%; /**/
        height: 80vh; /**/
        transform: scale(1);
        overflow: hidden;
        transition: all 1s ease;
      }
      
      .project-tile:hover {
        box-shadow: 0 0 20px rgba(59, 107, 135, 0.653);
        transform: scale(1.1);
        z-index: 7;
        overflow: hidden;
      }
      
      .project-tile img {
        width: 100%;
        height: auto;
        display: block;
        transition: all 1s ease;
        overflow: hidden;
      }
      
      .project-tile:hover img{
        filter: blur(3px);
        overflow: hidden;
      }
      
      
      .project-text {
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        overflow: hidden;
        color: var(--third-color); 
        transition: all 1s ease;
      }
      
      .project-text:hover {
        background-color: rgba(25, 58, 77, 0.6);
        opacity: 1;
        overflow: hidden;

        
      }
      
      .project-text h3 {
        width: 80%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        margin: 0px 5px;
        font-weight: 500;
        font-size: 20px; /**/
        overflow: hidden;
        overflow-wrap: break-word;
        word-break: break-all;
        word-wrap: break-word;
        transition: all 1s ease;
      }
      
      .project-text:hover h3 {
        opacity: 1;
      }
    
    
    /*------contacts------*/
    
    #contacts {
        width: auto;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    
    .mail {
        border: 2px solid #5CDB95;
        padding: 15px;
        margin: 100px;
        background-color: transparent;
        width: 20%;
        transition: all 1s ease;
    }
    
    .mail a {
        text-decoration: none;
        width: 100%;
        overflow: hidden;
        height: auto;
        color: var(--main-color);
        font-size: 18px;
        cursor: pointer;
    }
    
    .mail:hover {
        background-color: #5cdb9523;
        box-shadow: 0px 0px 5px #5CDB95;
        cursor: pointer;
        transform: scale(1.2);
    }
    
    .icons div {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 0px 30px;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .icons div a {
        width: 100%;
        height: 100px;
        position: relative;
        overflow: hidden;
        font-size: 30px;
        inset: 15px 0px;
        padding-top: 5px;
        color: #5CDB95;
        text-decoration: none;
        transition: all 600ms ease;
    }
    
    .icons div a:hover {
        font-size: 40px;
        overflow: hidden;
        transform: scale(1.2);
    }
    
    
    /*------arrow------*/
    .arrow-up {
        position: fixed;
        overflow: hidden;
        display: inline;
        width: 8%;
        height: 70px;
        max-height: 100%;
        background: var(--fifth-color);
        bottom: 10px;
        right: 8px;
    }
    
    .arrow-up img {
        width: 35px; /**/
        border: 1px solid #5CDB95;
        position: relative;
        top: 10px;
        transition: all 600ms ease;
        -webkit-transition: all 600ms ease;
        -moz-transition: all 600ms ease;
        -o-transition: all 600ms ease;
    }
    
    .arrow-up img:hover {
        transform: scale(1.2); /**/
    } 
    
    /*------footer------*/
    
    footer {
        text-align: center;
        margin: 50px 0 30px 0;
        color: var(--main-color);
        font-weight: 500;
        z-index: 90;
    }

} 
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    html, * {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    
    body {
        --main-font: 'Fira Code', monospace;
        --main-color: #5CDB95;
        --second-color: #ACCBC8;
        --third-color: #EDF5E1;
        --fourth-color: #8FE38D;
        --fifth-color: #193A4C;
        --sixth-color: #4E7874;
        --title-size: 30px;
        font-family: var(--main-font);
        background-color: var(--fifth-color);
        margin: 0;
        padding: 0;
    }
    
    /*------HEADER------*/
    header {
        width: 100%;
        height: 100%;
    }
    
    header #navbar {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      background-color: #193A4C;
      z-index: 9;
    }
    
    header #navbar img {
      max-width: 50%;
      width: 25%; /**/
      height: 15%;
      margin-left: 20px; /**/
      margin-top: 0px; /**/
      cursor: default;
      pointer-events: none;
    }
    
    
    header #navbar ul li {
      display: inline-block;
      width: 130px; /**/
      height: 50px;
      margin-right: 10px; /**/
      box-sizing: border-box;
      overflow: hidden;
    }
    
    header #navbar ul li a {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: block;
      top: 15px; /**/
      color: var(--main-color);
      font-size: 20px; /**/
      font-weight: 700; 
      text-decoration: none;
      text-align: center;
      -webkit-transition: all 600ms ease;
      -moz-transition: all 600ms ease;
      -o-transition: all 600ms ease;
      transition: all 600ms ease;
    }
    
    header #navbar li a:hover {
      transform: scale(1.1); /**/
    }
    
    .main-header {
        padding: 45vh 0vh;
      }
    
    .title {
      text-align: center;
      overflow: hidden;
    }
    
    .title #first {
      position: relative;
      right: 18vh;
      font-weight: 500;
      font-size: 18px;
      color: var(--main-color);
    }
    
    .title #second {
      font-weight: 900;
        color: var(--second-color);
        font-size: 50px;
    }
    
    /*  MAIN  */
    main {
        text-align: center;
    }
    
    section > .title-section {
        padding-top: 70px;
        color: var(--second-color);
        font-size: var(--title-size);
    }
    
    /* ABOUT */
    #welcome-section {
        margin: 0 65px 0 60px; /**/
    }
    
    #about-body {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-top: 40px;
        height: 80vh; /**/
    }
    
    #about-text {
        color: var(--main-color);
        text-align: justify;
        margin-right: 15vh; /**/  
    }
    
    #about-text > p {
        margin-top: 20px;    
    }
    
    #about-img {
        display: inline-block;
        position: relative;
    }
    
    #about-img img {
      max-width: 100%; /**/
      min-width: 60%; /**/
      width: 100%; /**/
      cursor: default;
      pointer-events: none;
      z-index: 10;
    }
    
    /* PROJECT */
    #projects {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    .projects-field {
        display: flex;
        flex-direction: column; /**/
        justify-content: flex-start; /**/
        align-items: center; /**/
        align-content: center; /**/
        flex-wrap: nowrap;
        margin: 30px 0px;
        padding: 30px 0px;
        overflow: hidden;
        width: 100%;
        height: 100vh;
      }
      
      .project-tile {
        position: relative;
        width: 80%; /**/
        height: 80vh; /**/
        transform: scale(1);
        overflow: hidden;
        transition: all 1s ease;
      }
      
      .project-tile:hover {
        box-shadow: 0 0 20px rgba(59, 107, 135, 0.653);
        transform: scale(1.1);
        z-index: 7;
        overflow: hidden;
      }
      
      .project-tile img {
        width: 100%;
        height: auto;
        display: block;
        transition: all 1s ease;
        overflow: hidden;
      }
      
      .project-tile:hover img{
        filter: blur(3px);
        overflow: hidden;
      }
      
      
      .project-text {
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        overflow: hidden;
        color: var(--third-color); 
        transition: all 1s ease;
      }
      
      .project-text:hover {
        background-color: rgba(25, 58, 77, 0.6);
        opacity: 1;
        overflow: hidden;
      }
      
      .project-text h3 {
        width: 80%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        margin: 0px 5px;
        font-weight: 500;
        font-size: 20px; /**/
        overflow: hidden;
        overflow-wrap: break-word;
        word-break: break-all;
        word-wrap: break-word;
        transition: all 1s ease;
      }
      
      .project-text:hover h3 {
        opacity: 1;
      }
    
    /*------contacts------*/
    
    #contacts {
        width: auto;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    
    .mail {
        border: 2px solid #5CDB95;
        padding: 15px;
        margin: 100px;
        background-color: transparent;
        width: 20%;
        transition: all 1s ease;
    }
    
    .mail a {
        text-decoration: none;
        width: 100%;
        overflow: hidden;
        height: auto;
        color: var(--main-color);
        font-size: 18px;
        cursor: pointer;
    }
    
    .mail:hover {
        background-color: #5cdb9523;
        box-shadow: 0px 0px 5px #5CDB95;
        cursor: pointer;
        transform: scale(1.2);
    }
    
    .icons div {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 0px 30px;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .icons div a {
        width: 100%;
        height: 100px;
        position: relative;
        overflow: hidden;
        font-size: 30px;
        inset: 15px 0px;
        padding-top: 5px;
        color: #5CDB95;
        text-decoration: none;
        transition: all 600ms ease;
    }
    
    .icons div a:hover {
        font-size: 40px;
        overflow: hidden;
        transform: scale(1.2);
    }
    
    
    /*------arrow------*/
    .arrow-up {
        position: fixed;
        overflow: hidden;
        display: inline;
        width: 7%; /**/
        height: 58px; /**/
        max-height: 100%;
        background: var(--fifth-color);
        bottom: 10px;
        right: 4px; /**/
        z-index: 1;
    }
    
    .arrow-up img {
        width: 40px; /**/
        border: 1px solid #5CDB95;
        position: relative;
        top: 10px;
        transition: all 600ms ease;
        -webkit-transition: all 600ms ease;
        -moz-transition: all 600ms ease;
        -o-transition: all 600ms ease;
    }
    
    .arrow-up img:hover {
        transform: scale(1.2); /**/
    } 
    
    /*------footer------*/
    
    footer {
        text-align: center;
        margin: 50px 0 30px 0;
        color: var(--main-color);
        font-weight: 500;
        z-index: inherit;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {

    html, * {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    
    body {
        --main-font: 'Fira Code', monospace;
        --main-color: #5CDB95;
        --second-color: #ACCBC8;
        --third-color: #EDF5E1;
        --fourth-color: #8FE38D;
        --fifth-color: #193A4C;
        --sixth-color: #4E7874;
        --title-size: 30px;
        font-family: var(--main-font);
        background-color: var(--fifth-color);
        margin: 0;
        padding: 0;
    }
    
    /*------HEADER------*/
    header {
        width: 100%;
        height: 100%;
    }
    
    header #navbar {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      background-color: #193A4C;
      z-index: 9;
    }
    
    header #navbar img {
      max-width: 50%;
      width: 20%; /**/
      height: 20%; /**/
      margin-left: 50px;
      margin-top: 10px;
      cursor: default;
      pointer-events: none;
    }
    
    
    header #navbar ul li {
      display: inline-block;
      width: 170px; /**/
      height: 55px; /**/
      box-sizing: border-box;
      overflow: hidden;
    }
    
    header #navbar ul li a {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: block;
      top: 20px;
      color: var(--main-color);
      font-size: 20px;
      font-weight: 700; 
      text-decoration: none;
      text-align: center;
      -webkit-transition: all 600ms ease;
      -moz-transition: all 600ms ease;
      -o-transition: all 600ms ease;
      transition: all 600ms ease;
    }
    
    header #navbar li a:hover {
      transform: scale(1.2);
    }
    
    .main-header {
        padding: 45vh 0vh;
      }
    
    .title {
      text-align: center;
      overflow: hidden;
    }
    
    .title #first {
      position: relative;
      right: 18vh;
      font-weight: 500;
      font-size: 18px;
      color: var(--main-color);
    }
    
    .title #second {
      font-weight: 900;
        color: var(--second-color);
        font-size: 50px;
    }
    
    /*  MAIN  */
    main {
        text-align: center;
    }
    
    section > .title-section {
        padding-top: 70px;
        color: var(--second-color);
        font-size: var(--title-size);
    }
    
    /* ABOUT */
    #welcome-section {
        margin: 0 90px 0 60px; /**/
    }
    
    #about-body {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-top: 40px;
        height: 100vh;
    }
    
    #about-text {
        color: var(--main-color);
        text-align: justify;
        margin-right: 30vh;   
    }
    
    #about-text > p {
        margin-top: 20px;    
    }
    
    #about-img {
        display: inline-block;
        position: relative;
    }
    
    #about-img img {
      max-width: 100%;
      width: 100%;
      cursor: default;
      pointer-events: none;
    }
    
    /* PROJECT */
    #projects {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    .projects-field {
        display: flex;
        justify-content: center;
        align-items: baseline;
        align-content: baseline;
        flex-wrap: wrap;
        margin: 30px 0;
        padding: 30px 0;
        overflow: hidden;
        width: 100%;
        height: 100vh;
      }
      
      .project-tile {
        position: relative;
        width: 25%;
        transform: scale(1);
        overflow: hidden;
        transition: all 1s ease;
      }
      
      .project-tile:hover {
        box-shadow: 0 0 20px rgba(59, 107, 135, 0.653);
        transform: scale(1.1);
        z-index: 7;
        overflow: hidden;
      }
      
      .project-tile img {
        width: 100%;
        height: auto;
        display: block;
        transition: all 1s ease;
        overflow: hidden;
      }
      
      .project-tile:hover img{
        filter: blur(3px);
        overflow: hidden;
      }
      
      
      .project-text {
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        overflow: hidden;
        color: var(--third-color); 
        transition: all 1s ease;
      }
      
      .project-text:hover {
        background-color: rgba(25, 58, 77, 0.6);
        opacity: 1;
        overflow: hidden;
      }
      
      .project-text h3 {
        width: 80%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        margin: 0px 5px;
        font-weight: 500;
        font-size: 23px;
        overflow: hidden;
        overflow-wrap: break-word;
        word-break: break-all;
        word-wrap: break-word;
        transition: all 1s ease;
      }
      
      .project-text:hover h3 {
        opacity: 1;
      }
    
    /*------contacts------*/
    
    #contacts {
        width: auto;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    
    .mail {
        border: 2px solid #5CDB95;
        padding: 15px;
        margin: 100px;
        background-color: transparent;
        width: 20%;
        transition: all 1s ease;
    }
    
    .mail a {
        text-decoration: none;
        width: 100%;
        overflow: hidden;
        height: auto;
        color: var(--main-color);
        font-size: 18px;
        cursor: pointer;
    }
    
    .mail:hover {
        background-color: #5cdb9523;
        box-shadow: 0px 0px 5px #5CDB95;
        cursor: pointer;
        transform: scale(1.2);
    }
    
    .icons div {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 0px 30px;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .icons div a {
        width: 100%;
        height: 100px;
        position: relative;
        overflow: hidden;
        font-size: 30px;
        inset: 15px 0px;
        padding-top: 5px;
        color: #5CDB95;
        text-decoration: none;
        transition: all 600ms ease;
    }
    
    .icons div a:hover {
        font-size: 40px;
        overflow: hidden;
        transform: scale(1.2);
    }
    
    
    /*------arrow------*/
    .arrow-up {
        position: fixed;
        overflow: hidden;
        display: inline;
        width: 5%;
        height: 60px; /**/
        max-height: 100%;
        background: var(--fifth-color);
        bottom: 10px;
        right: 5px;
    }
    
    .arrow-up img {
        width: 40px; /**/
        border: 1px solid #5CDB95;
        position: relative;
        top: 10px;
        transition: all 600ms ease;
        -webkit-transition: all 600ms ease;
        -moz-transition: all 600ms ease;
        -o-transition: all 600ms ease;
    }
    
    .arrow-up img:hover {
        transform: scale(1.2); /**/
    } 
    
    /*------footer------*/
    
    footer {
        text-align: center;
        margin: 50px 0 30px 0;
        color: var(--main-color);
        font-weight: 500;
        z-index: inherit;
    }
}
