@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
    color: #FFFFFF;
    background-image: url(img/back-img.jpg);
    display: block;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    font-size: 17px;
}

/*------HEADER------*/

header {
    text-align: center;
}

header p {
    font-weight: 700;
    font-size: 20px;
    position: relative;
    bottom: 40px;
    border-radius: 10px;
    color: #003319a8;
}

header h1 {
    font-weight: 700;
    font-size: 60px;
    color: #003319a8;
}

/*------MAIN------*/

main fieldset legend {
    position: relative;
    top: 55px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
}

main fieldset .house-info {
    font-size: 25px;
}

main fieldset {
    margin: 0 25%;
    padding: 40px;
    background: hsla(137, 19%, 63%, 0.8);
    border-radius: 10px;
    width: auto;
    height: auto;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
}

main fieldset > label {
    font-size: 18px;
    font-weight: 600;
}

form fieldset > input {
    margin-top: 15px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    width: 65%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 200ms ease-in;
}

form fieldset > input:focus {
    box-shadow: -1px 2px 9px 1px rgba(0,0,0,0.72);
    border: 0;
    outline: none;
}

/*------ first FORM ------*/

form fieldset #title-box {
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    
}

form fieldset .box input[type="radio"] {
    display: none;
}

form fieldset .box {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

form fieldset .floor {
    flex-wrap: wrap;
    margin: 0 35px;
    gap: 20px;
}

form fieldset .box label {
    position: relative;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

form fieldset .box label::before {
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 20px;
}

form fieldset .box input[type="radio"]:checked + label {
    background-color: #FFFFFF;
    color: #8FB399;
}

form fieldset .box input[type="radio"]:checked + label::before {
    height: 10px;
    width: 10px;
    border: 8px solid #8FB399;
    background-color: #FFFFFF;
}

form fieldset input:focus::placeholder {
   color: transparent;
}

form fieldset .checkbox input[type="checkbox"] {
    display: none;
}

form fieldset .checkbox {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

form fieldset .checkbox label {
    position: relative;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

form fieldset .checkbox label::before {
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 20px;
}

form fieldset .checkbox input[type="checkbox"]:checked + label {
    background-color: #FFFFFF;
    color: rgb(143, 179, 153);
}

form fieldset .checkbox input[type="checkbox"]:checked + label::before {
    height: 10px;
    width: 10px;
    border: 8px solid #8FB399;
    background-color: #FFFFFF;
}

/*------select------*/

form fieldset select {
    outline: 0;
    appearance: none;
    box-shadow: none;
    border: 0;
    background-image: none;
    background: #8FB399;

    flex: 1;
    padding-left: 30px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;
    
}

form fieldset select::-ms-expand {
    display: none;
}

form fieldset .custom-select {
    display: flex;
    position: relative;
    width: 150px;  
    height: 45px; 
    line-height: 3;
    background: #8FB399;
    overflow: hidden;
    margin-top: 15px;

    border: 2px solid #FFFFFF;
}

.custom-select::after {
    content: "\25BC";
    position: absolute;
    top: -3px;
    right: 0;
    padding: 0 10px; 
    background: #8FB399;
    
    pointer-events: none;
    cursor: pointer;
    transition: 0.25s all ease;
}

.custom-select:hover::after {
    color: rgb(233, 233, 197);
}

form fieldset textarea {
    resize: none;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    outline: none;
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    transition: box-shadow 600ms ease;
}

form fieldset textarea:focus {
    box-shadow:-1px 2px 9px 1px rgba(0,0,0,0.72);
}

form fieldset textarea::placeholder{
    color: #8FB399;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

fieldset #submit {
    position: relative;
    top: 60px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #FFFFFF;
    background: #8FB399;
    text-transform: uppercase;
    border: 3px solid #FFFFFF;
    cursor: pointer;
    transition: background 1s ease,
                color 1s ease;
}

fieldset #submit:hover {
    background: #FFFFFF;
    color: rgb(143, 179, 153);
}