@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #4d4e53;
}

/*------HEADER------*/
#navbar {
    position: fixed;
    min-width: 290px;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0,22,22,0.4);
}

#navbar header {
    text-align: center;
    margin: 20px;
    padding: 0px;
    font-size: 25px;
    font-weight: 800;
    color: black;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    list-style: none;
    position: relative;
    width: 100%;
    border-top: 1px solid #4d4e53;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 17px;
}

#navbar ul li a {
    text-decoration: none;
    color: #4d4e53;
    display: block;
}

/*------main------*/

#main-doc {
    position: absolute;
    padding: 20px;
    margin-left: 340px;
}

#main-doc header {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

#main-doc article {
    padding-left: 20px;
}

#main-doc article code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #navbar { 
        position: relative; 
        width: 100%;
        height: 350px; 
    }
    
    #navbar ul {
        height: 84%; 
    }

    #main-doc {
        margin-left: 0px; 
        margin-top: 30px; 
    }
}
