@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
    --background-color: #fff;
    --text-color-one: #000;
    --text-color-two: #4d4e53;
    --text-color-code: #000;
    --code-color: #e0e0e0;
    --border-color: rgba(0,22,22,0.4);
}

.dark-theme {
    --background-color: #000;
    --text-color-one: #fff;
    --text-color-two: #cbc7c7;
    --text-color-code: #fff; 
    --code-color: #1f1f1f;
    --border-color: rgba(255, 255, 255, 0.4);
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: var(--text-color-two);
    background-color: var(--background-color);
}

/*------HEADER------*/
#navbar {
    position: fixed;
    min-width: 290px;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: var(--border-color);
}

#navbar .title img {
    width: 26px;
    margin-top: 5px;
    padding: 0px 5px;
    cursor: pointer;

}

#navbar .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 15px;
}

#navbar .title header {
    text-align: center;
    padding: 0px;
    margin-right: 10px;
    font-size: 23px;
    font-weight: 800;
    color: var(--text-color-one);
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    list-style: none;
    position: relative;
    width: 100%;
    border-top: 1px solid var(--text-color-two);
    padding: 10px 25px;
    font-weight: 600;
    font-size: 17px;
}

#navbar ul li a {
    text-decoration: none;
    color: var(--text-color-one);
    display: block;
}

/*------main------*/
#print {
    display: none;
}

#main-doc {
    position: absolute;
    padding: 20px;
    margin-left: 340px;
}

#main-doc header {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-one);
}

#main-doc article {
    padding-left: 20px;
}

#main-doc article code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    color: var(--text-color-code);
    background-color: var(--code-color);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
